{% extends 'admin/admin_layout.html.twig' %}

{% block body %}
    <h1>Atualizar Usuário</h1>
    <hr>

    {{ form_start(armando) }}
    {{ form_widget(armando) }}
    <button type="submit">Atualizar Usuário</button>
    {{ form_end(armando) }}

{% endblock %}