{% extends 'admin/admin_layout.html.twig' %}

{% block body %}
    <h1>Criar novo Posts</h1>
    <hr>

    {{ form_start(armando) }}
    {{ form_widget(armando) }}
    <button type="submit">Criar Post</button>
    {{ form_end(armando) }}

{% endblock %}